/**
* Style for the main navigation.
*
*/
@import '../../assets/scss/00-abstracts/base-dir';
@import '../../assets/scss/00-base/base-dir';


ul{
  list-style:none;
  display:flex;
  box-sizing: border-box;
}

.sd_header{
  display:flex;
  flex-wrap:wrap;
  padding:1rem 2rem;

  @include upto-breakpoint(m) {
    position:fixed;
    flex-wrap:nowrap;
    top: 0;
    z-index: 9999999998;
    background-color: unquote($bg-color-trans);
    width:100%;
    max-height:100%;
    box-sizing: border-box;
    flex-direction: column;
    padding-bottom: 0;
  }

  &__top{
    width:100%;
    display:flex;
    align-items:center;
    justify-content: flex-end;

    @include upto-breakpoint(m) {
      width: 90%;
    }
  }

  &__switch {
    margin: 0 1rem;
  }

  &__nav {
    flex-wrap: wrap;

    @include upto-breakpoint(m) {
      width: 100%;
      background-color: unquote($bg-color);
      padding:2rem;
      flex-direction: column;
      text-align:center;
      overflow: scroll;
      flex-wrap: nowrap;
    }

    .nav-item {
      @include breakpoint(m){
        &:not(:last-of-type) {
          margin-right: 1rem;
        }
      }

      a {
        //@extend %info-xs;
        color: unquote($title-color);
        position:relative;

        @include upto-breakpoint(m){
          font-size: 1rem;
          font-weight: 500;
        }

        &:after {
          content: '';
          position: absolute;
          bottom: -0.5rem;
          left: 0;
          display:block;
          width: 0%;
          height: px2rem(1);
          background-color: unquote($font-color);
          transition: all 0.3s;
          opacity: 0.8;
        }

        &.active:after {
          width: 100%;
        }
      }

      @include upto-breakpoint(m){
        margin: 1rem 0;
        padding: 0.5rem 0;
      }
    }
  }

  &__admin {
    width: 100%;

    ul {
      display: inline-flex;
      background-color: unquote($font-base);
      padding: 0.4rem 1rem;
      border-radius: px2rem(5);
      margin: 1rem  0;

      @include upto-breakpoint(m) {
        width: 100%;
        flex-direction: column;
        background-color: transparent;
      }

      span {
        @include breakpoint(m) {
          margin-right: 1rem;
        }
      }
    }

    .nav-item {
      a {
        //@extend %info-xs;
        color: unquote($title-color);
        position:relative;

        @include upto-breakpoint(m){
          font-size: 1rem;
          font-weight: 500;
        }

        &.active:after {
          width: 0%;
          @include upto-breakpoint(m){
            width: 100%;
          }
        }

        &.active {
          font-weight: 700;
        }
      }

    }
  }

}

.logo {
  width:8rem;
  height: auto;
  display: block;
  margin: 1.5rem 2rem;

  body[data-theme="dark"] &--dark {
    display:none;
  }

  body[data-theme="light"] &--light {
    display:none;
  }

  img {
    width: 100%;
  }

  .sd_header & {
    margin-top: -1rem;
    margin-left: -1rem;

    @include upto-breakpoint(m){
      margin-bottom: 0;
    }
  }
}

.main-content{
  @include upto-breakpoint(m){
    padding-top: 8rem;
  }
}

// Exception for parallax illustration pages.
.parallax-illustration {
  .sd_header {
    display: none;
  }

  .main-content{
    @include upto-breakpoint(m){
      margin-top: 0;
    }
  }
}
