<nav class="sd_header {{ menuStatus }}" *ngIf="router.url != dynamicUrl">

  <div class="sd_header__top">
    <span>Procto Front End - Sofia Dissegna</span>
   <!-- Dark and Light switch component -->
   <div app-toggle-switch class="sd_header__switch" ></div>
  </div>

  <a routerLink = "/" class="logo">
    <img src="/assets/images/firma_b.png"  alt="" class="logo--dark">
    <img src="/assets/images/firma_w.png" alt="" class="logo--light">
  </a>
</nav>


