/**
 * Toggle Switch style from:
 * https://codepen.io/rebelchris/pen/jOMGweo
 *
*/
@import '../../../assets/scss/00-abstracts/base-dir';

$switchDimension: 0.6rem;

:host {
  display: inline-flex;
  align-items: center;
  position:relative;
  top: 0.2rem;
}

i {
  font-size: 1rem;
  position: relative;
  top: -0.1rem;

  &.fa-moon {
    font-size: 0.9rem;
  }
}

.switch-wrapper {
  position: relative;
  margin: auto;
  text-align: center;
  margin: 0 0.5rem;
}

.switch input {
  position: absolute;
  opacity: 0;
}

.switch {
  display: inline-block;
  height: 1em;
  width: 2em;
  background: unquote($font-base);
  border-radius: 1em;
  cursor: pointer;
}

.switch div {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: #FFF;
  box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
  -webkit-transition: all 300ms;
     -moz-transition: all 300ms;
          transition: all 300ms;
}

.switch input:checked + div {
  -webkit-transform: translate3d(100%, 0, 0);
     -moz-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}
