<i class="fas fa-sun"></i>

<div class="switch-wrapper">
  <label class="switch"><input type="checkbox" [(checked)]="checkStatus" (change)="changeTheme()" />
    <div></div>
  </label>
</div>

<i class="fas fa-moon"></i>

