/**
 * @file
 * Colors.
 */

 // Procto colours.
$color-main: #017AB9;
$color-main-light: #0086CB;
$color-main-dark: #006FA6;
$color-main-dark-2: #0061A6;
$shadow: #0000001A;
$shadow-2: #002F4834;
$shadow-3: #0043694D;

// Greyscale colors.
$white: #fff;
$black: #000;
$grey-1: #3C3C3C;
$grey-2: #5F5F5F;
$grey-3: #D3D3D3;

//Bluish grey.
$bluegrey-1: #0043694D;
$bluegrey-2: #002F4834;
$bluegrey-3: #F8F8F8;

 /**
 * Css variables for ligh/dark mode.
 * To call inside the unquote() function.
 *
 * Example: background-color: unquote($bg-color)
 *
 */
 $bg-color: 'var( --bg-color)';
 $bg-color-trans: 'var( --bg-color-trans)';
 $title-color: 'var( --title-color)';
 $font-color: 'var( --font-color)';
 $font-base: 'var( --font-base)';
 $link-color: 'var( --link-color)';
 $shadow-color: 'var( --shadow-color)';
 $light-shadow: 'var( --light-shadow)';

:root {
  --font-color: #000;
  --font-base: #b3b3b3;
  --bg-color: #F8F8F8;
  --bg-color-trans: #ffffffc4;
  --title-color:#000;
  --link-color: #245efd;
  --shadow-color: hsla(0, 0%, 0%, 0.267);
  --light-shadow: rgb(0 0 0 / 10%);
}

[data-theme="dark"] {
  --font-color: hsla(0, 0%, 100%, 0.952);
  --font-base: hsla(0, 0%, 100%, 0.445);
  --bg-color: #181a1f;
  --bg-color-trans: #122127cb;
  --title-color: hsla(0, 0%, 100%, 0.979);
  --link-color: #3690ff;
  --shadow-color: hsla(0, 0%, 0%, 0.726);
  --light-shadow: rgb(0 0 0 / 90%);
}



