/**
 * @file
 * Functions.
 */

$default-font-size: 16;

/* Converting px to em. */
@function px2em($size-in-px, $base-size: $default-font-size) {
  @return ($size-in-px / $base-size) + em;
}

/*
 * Converting px to rem.
 * $size-in-px: unitless or px.
 */
@function px2rem($size-in-px) {
  @if (unitless($size-in-px)) {
    $size-in-px: $size-in-px * 1px;
  }
  $rem-size: $size-in-px / ($default-font-size * 1px);
  @return #{$rem-size}rem;
}

/*
 * Retreive z-index from sass map.
 *
 * usage:
 * z-index: z('default');
*/
@function z($key) {
  @return map-get($z-index, $key);
}

