/**
 * @file
 * Grid.
 *
 * Note: Variables for the grid system is set in _variables.scss under Grid.
 */

// sass-lint:disable-all

/*
 * Calculate column width depending on amount of gutters.
 *
 * usage:
 *  width: calc--width($columns, $gutters, $container-cols);
*/
@function calc--width($columns, $gutters, $container-cols: $column-count, $width--gutter: $width--gutter) {
  $container-gutters: $container-cols - 1;
  $gutters-total: $width--gutter * $container-gutters;

  $width: calc((#{$columns} * ((100% - #{$gutters-total}) / #{$container-cols})) + (#{$gutters} * #{$width--gutter}));

  @return $width;
}

/*
 * Calculate column width including gutters.
 *
 * usage:
 *  max-width: calc--max-width($columns, $gutters, $container-cols, $outside-
 *  padding: true);
*/
@function calc--max-width($columns, $gutters, $container-cols: $column-count, $outside-padding: true, $width--gutter: $width--gutter) {
  $width--column: (($container-width) - ($width--gutter * ($column-count - 1))) / $column-count;
  $max-width: ($width--column * $columns) + ($width--gutter * $gutters);

  @if $outside-padding == true {
    @return $max-width + ($outside--gutter * 2);
  } @else {
    @return $max-width;
  }
}

/*
 * Container of the grid system - usually the page.
 *
 * usage:
 *  @include container; - Default
 *  @include container(8); - Spans 8 columns of '12'.
 *  @include container($outside-padding: false); - No outside padding.
*/
@mixin container($columns: $column-count, $gutters: $columns - 1, $outside-padding: true) {
  margin-left: auto;
  margin-right: auto;
  max-width: calc--max-width($columns, $gutters, $outside-padding: $outside-padding, $width--gutter: $width--gutter-mobile);
  width: 100%;

  @if $outside-padding == true {
    padding-left: $outside--gutter;
    padding-right: $outside--gutter;
  }

  @include breakpoint(m) {
    max-width: calc--max-width($columns, $gutters, $outside-padding: $outside-padding, $width--gutter: $width--gutter);
  }
}

/*
 * Row mixin - Parent container for the columns.
 *
 * usage:
 *  @include row;
*/
@mixin row() {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

/*
 * Column span.
 * e.g. col(8) = the width 8 columns and 7 gutters.
 *
 * usage:
 *  @include col(8); - Width: 8 cols & 7 gutters
 *  @include col(4, 4, 8); - Width: 4 cols & 4 gutters with a 8 column container
*/
@mixin col($columns, $gutters: $columns - 1, $container-cols: $column-count, $width--gutter: $width--gutter) {
  // Could pass gutter widths in media queries. 10px on mobile, 20px on desktop.
  width: calc--width($columns, $gutters, $container-cols, $width--gutter-mobile);

  @include breakpoint(m) {
    width: calc--width($columns, $gutters, $container-cols, $width--gutter);
  }

}

/*
 * Column skip.
 * e.g. skip(3) = the width of 3 columns and 3 gutters.
 *
 * usage:
 *  @include skip(8); - margin-left: 8 cols & 7 gutters.
 *  @include skip(4, 'padding', 'right', 4, 8); - padding-right: 4 cols & 4
 *  gutters with a 8 column container.
*/
@mixin skip($columns,  $property: 'margin', $side: 'left', $gutters: $columns, $container-cols: 12) {
  #{$property}-#{$side}: calc--width($columns, $gutters, $container-cols);
}

/*
 * Gutter override - when a components needs to override container gutters.
 *
 * usage:
 *  @include gutter-override; - component full width of the container.
 *  @include gutter-override(true); full width component with internal padding.
 */
@mixin gutter-override($padding: false) {
  margin-left: -$outside--gutter;
  margin-right: -$outside--gutter;
  width: calc(100% + (#{$outside--gutter} * 2));

  @if $padding == true {
    padding-left: $outside--gutter;
    padding-right: $outside--gutter;
  }
}
