/**
 * @file
 * Mixins.
 */

// sass-lint:disable no-important

/* Min-width breakpoints. */
@mixin breakpoint($bp) {
  @if $bp == xl {
    @media only screen and (min-width: px2rem($breakpoint-xl)) { @content; }
  } @else if $bp == l {
    @media only screen and (min-width: px2rem($breakpoint-l)) { @content; }
  } @else if $bp == m {
    @media only screen and (min-width: px2rem($breakpoint-m)) { @content; }
  } @else if $bp == s {
    @media only screen and (min-width: px2rem($breakpoint-s)) { @content; }
  } @else if $bp == xs {
    @media only screen and (min-width: px2rem($breakpoint-xs)) { @content; }
  } @else if $bp == xxs {
    @media only screen and (min-width: px2rem($breakpoint-xxs)) { @content; }
  } @else {
    @media only screen and (min-width: $bp) { @content; }
  }
}

/* Max-width breakpoints. */
@mixin upto-breakpoint($bp) {
  @if $bp == xl {
    @media only screen and (max-width: px2em($breakpoint-xl - 1)) { @content ; }
  } @else if $bp == l {
    @media only screen and (max-width: px2rem($breakpoint-l - 1)) { @content; }
  } @else if $bp == m {
    @media only screen and (max-width: px2em($breakpoint-m - 1)) { @content ; }
  } @else if $bp == s {
    @media only screen and (max-width: px2em($breakpoint-s - 1)) { @content ; }
  } @else if $bp == xs {
    @media only screen and (max-width: px2em($breakpoint-xs - 1)) { @content ; }
  } @else if $bp == xxs {
    @media only screen and (max-width: px2rem($breakpoint-xxs - 1)) { @content; }
  } @else {
    @media only screen and (max-width: $bp - 1) { @content ; }
  }
}

@mixin grid-2-col($breakpoint: m) {
  @include breakpoint($breakpoint) {
    @include row;
  }

  > * {
    @include breakpoint($breakpoint) {
      @include col(6);
    }
  }
}

@mixin grid-3-col($breakpoint: m) {
  @include breakpoint($breakpoint) {
    @include row;

    justify-content: flex-start;
  }

  > * {
    @include breakpoint($breakpoint) {
      @include col(4);

      margin-right: $width--gutter;

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}

