/**
 * @file
 * Variables.
 */

/*
 * Font sizing.
 *
 * $default-font-size is defined in _functions.scss.
 */
$font-size-base:        $default-font-size * 1px;


/* Font families. */
$font-family-base:      Tahoma, Verdana, Segoe, sans-serif;


/*
 * Breakpoints.
 *
 * These are used for breakpoint() in _mixins.scss.
 */
$breakpoint-xxs:        380 !default;
$breakpoint-xs:         480 !default;
$breakpoint-s:          620 !default;
$breakpoint-m:          860 !default;
$breakpoint-l:          1024 !default;
$breakpoint-xl:         1240 !default;

/*
 * Layouts.
 *
 */
 $desktop-default:     $breakpoint-xl;
 $mobile-default:     $breakpoint-xxs;

/*
 * Grid.
 *
 * These are used in _grid.scss.
 */
$column-count:          12;
$container-width:       1140px; // Not including outside gutters.
$width--gutter-mobile:  20px;
$width--gutter:         40px;
$width--gutter-half:    $width--gutter / 2;
$outside--gutter:       20px;
$vertical-gutter:       30px;
$vertical-gutter--half: $vertical-gutter / 2;
$vertical-gutter--double: $vertical-gutter * 2;


/*
 * Z-index.
 *
 * A sass map for z() in _functions.scss.
 */
$z-index: (
  banner: 50,
  mobileMenu: 20,
  subMenuOverlay: 15,
  subMenu: 14,
  contentAbovePlus: 2,
  contentAbove: 1,
  default: 0,
  contentBelow: -1
);

/*
 * Z-index.
 *
 * A sass map to create percentage class.
 */
$percentages: (
  perc10: 10,
  perc20: 20,
  perc30: 30,
  perc40: 40,
  perc50: 50,
  perc60: 60,
  perc70: 70,
  perc80: 80,
  perc90: 90,
  perc100: 100,
);

