﻿/**
 * @file
 * Buttons style.
 */

.button {
  display: inline-block;
  padding: px2rem(16) px2rem(40);
  background: transparent linear-gradient(180deg, $color-main-light 0%, $color-main-dark 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px $shadow-2;
  font-size:px2rem(14);
  font-weight: 600;
  color: $white;

  &:hover{
    background: $color-main-dark-2;
  }

  @include breakpoint(m){
    font-size:px2rem(16);
  }
}



