﻿/**
 * @file
 * Typography.
 */

span,
p,
i, li, div {
  color:unquote($font-color);
}

a {
  &,
  * {
    text-decoration: none;
    color: unquote($link-color);
  }
}

ul,
ol {
  padding: 0;
  margin: 0;
}

.text-center {
  text-align: center;
}

// Text Styles
em { font-style: italic; }
strong { font-weight: 700; }
small { font-size: 75%; }
.light { font-weight: 300; }
.thin { font-weight: 200; }

// paragraph Style
p {
  margin: 0 0 1rem 0;
  display: block;
}

//Procto specific.
html,
p,
div,
.base-font,
%base-font {
  font-family: $font-family-base;
  font-weight: normal;
  font-size: px2rem(16);
  color: unquote($font-color);
  line-height: px2rem(27);

  @include upto-breakpoint(m) {
    font-size:px2rem(14);
    line-height: px2rem(24);
  }
}

.section-title,
%section-title {
  &,
  a {
    font-weight: 700;
    font-size: px2rem(34);
    color: unquote($title-color);
    line-height: px2rem(51);
    margin: 0;

    @include upto-breakpoint(m) {
      font-size:px2rem(39);
      line-height: px2rem(44);
    }
  }
}

.small-title
%small-title {
  color: unquote($font-color);
  font-size:px2rem(14);
  line-height: px2rem(21);
  font-weight: bold;
}

.tag,
%tag{
  color: $grey-2;
  font-size:px2rem(12);
  line-height: px2rem(28);
  font-weight: bold;
  text-transform: uppercase;
}



