/**
 * @file
 * Layout and general.
 */

html,
body {
  display: block;
  height: auto;
  background-color: unquote($bg-color);
  min-height: 100vh;
  background-color:  $bg-color;
  background-image: url("../../../assets/images/bg/dot-pattern.png");
}

.full-wrap,
%full-wrap {
  display: block;
  margin: 0 auto;
  padding: 0 px2rem(20);
}

.main-wrap,
%main-wrap {
  display: block;
  max-width: px2rem( $desktop-default);
  margin: 0 auto px2rem(110) auto;
}
