<div class="full-wrap">

  <div class="latest-news main-wrap">
    <article class="text-lock">
      <p header class="tag">
        Latest News
      </p>
      <h2 header class="section-title">
        Gravida in fermen tum sollicitudin
      </h2>
      <p content >
        Consequat id porta nibh venenatis cras sed felis eget velit aliquet sagittis
        id consectetur purus ut faucibus pulvinar elementum integer enim neque
        volutpat ac tincidunt vitae semper quis lectus
      </p>
      <div cta >
        <a class="button" href="" title=''>Read more </a>
      </div>
    </article>

    <!-- News list -->
    <div *ngIf = "articles.length > 0" class="cards-list">
      <ng-container *ngFor="let article of articles">
        <a href="/" title="article.title" >
          <article class="card card--clickable">
            <img cover title="" [src]="article.img" [alt]="article.title"/>
            <div content>
              <span class="tag">{{ article.category}}</span>
              <h5 class="card__title" >{{ article.title}}</h5>
              <span class="card__date">{{ article.date}}</span>
            </div>
          </article>
        </a>
      </ng-container>
    </div>
  </div>

  <div class="main-wrap">
    <div post-list></div>
  </div>

</div>




