<div class="text-lock__header">
  <ng-content select="[header]"></ng-content>
</div>
<div class="text-lock__body">
  <div class="text-lock__content">
    <ng-content select="[content]"></ng-content>
  </div>
  <div class="text-lock__cta">
    <ng-content select="[cta]"></ng-content>
  </div>
</div>


