/**
 * @file
 * Directory structure imports.
 */
 .card {
  position: relative;
  box-shadow: 0px 10px 30px $shadow;
  border-bottom: px2rem(4);
  background-color: $white;
  margin-bottom: px2rem(31);

  body[data-theme="dark"] & {
    background-color: unquote($bg-color);
  }

  &:not(.card--hero):after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: px2rem(4);
    background: transparent linear-gradient(91deg, $color-main-light 0%, $color-main-dark 100%) 0% 0% no-repeat padding-box;
  }

  @include breakpoint(m) {
    max-width: px2rem(388);
  }

  &__cover{
    width:100%;
    margin-bottom: px2rem(24);

    img {
      display: block;
      width: 100%;
    }
  }

  &__title {
    margin: px2rem(16) 0 px2rem(24) 0;

    &,
    a {
      font-weight: 700;
      font-size: px2rem(25);
      color: unquote($title-color);
      line-height: px2rem(34);
    }
  }

  &__content {
    padding:px2rem(0) px2rem(32) px2rem(40) px2rem(32);
  }

  &__date {
    display: block;
    padding-top: px2rem(16);
    border-top: px2rem(1) solid $grey-3;
    font-size:px2rem(14);
    line-height: px2rem(21);
    font-weight: bold;
    color: $grey-2;
  }

  // Card variations.

  &--clickable {
    background: none;
    box-shadow: none;

    &:after{
      display: none;
    }

    &:hover {
      .card__title{
        color: $color-main-light;
      }
    }

    .card__title{
      font-size: px2rem(20);
      line-height: px2rem(28);
      min-height: px2rem(80);
    }

    .card__content {
      padding: 0;
    }
  }

  &--hero {
    box-shadow: 0px 10px 30px $shadow-3;
    background: transparent linear-gradient(180deg, $color-main-light 0%, $color-main 48%, $color-main 100%) 0% 0% no-repeat padding-box;

    & *,
    & .card__title {
      color: $white;
    }

    .card__content {
      padding-top: px2rem(211);
      color: $white;

      @include breakpoint(m) {
        position: absolute;
        bottom: 0;
      }
    }
  }
}
