/**
 * @file
 * Text-lock style.
 */

.text-lock {
  &__title{
    @extend %section-title;
    margin-bottom: px2rem(24);
  }

  &__body{
    margin-top: px2rem(24);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__content {
    max-width: px2rem(713);
  }


  &__cta{

  }
}
