<div *ngIf = "articles.length > 0" class="cards-list">
  <ng-container *ngFor="let article of articles">
    <!-- Card Hero -->
    <ng-container *ngIf="article.id == 1 else standard">
      <article class="card card--hero">
        <div content>
          <div class="text-lock">
            <h3 header class="card__title">{{ article.title }}</h3>
            <p content >
              {{ article.content }}
            </p>
          </div>
        </div>
      </article>
    </ng-container>

    <!-- Normal Posts -->
    <ng-template #standard>
      <article class="card ">
        <img cover src="/assets/images/placeholder.png" alt="placeholder" title="placeholder">
        <div content>
          <div class="text-lock">
            <h3 header class="card__title"><a [routerLink]="['/', article.id]" title=''>{{ article.title }}</a></h3>
            <p content >
              {{ article.content }}
            </p>
            <div cta >
              <a class="button" [routerLink]="['/']" title=''>More info </a>
            </div>
          </div>
        </div>
      </article>
    </ng-template>

  </ng-container>
</div>

<p *ngIf = "articles.length <= 0 " class="text-center">
  Ups... something went wrong.
</p>
